<div class="wrap">
  <div class="header-wrap">
    <div class="header-container">
      <div class="header">
        <h1><a href="#">サンプル内装</a></h1>
          <nav class="header-nav">
            <ul>
              <li><%= link_to "企業理念", homes_company_path %></li>
              <li><a href="#">施工事例</a></li>
              <li><%= link_to "採用情報", homes_recruit_path %></li>
              <li><%= link_to "お問い合わせ", homes_contact_path %></li>
            </ul>
          </nav>
        </div>
        <p class="header-container-title">未来を作る。</p>
      </div>
    </div>
<!-- お知らせ -->
  <section class="news">
    <h2 class="news-title">お知らせ</h2>
    <ul class="news-list">
      <li><a href=""><span class="news-day">2020.11.19</span>テキストテキストテキスト</a></li>
      <li><a href=""><span class="news-day">2020.11.11</span>テキストテキスト</a></li>
      <li><a href=""><span class="news-day">2020.11.02</span>テキスト</a></li>
    </ul>
  </section>
<!-- 施工事例  -->
  <div class="case">
    <h2 class="case-title">施工事例</h2>
    <div class="case-content">
      <div class="case-content-left">
        <p class="case-content-img">
          <img src="assets/building1.png" alt="企業理念" srcset="">
        </p>
        <h3 class="case-content-title">M様邸新築工事</h3>
        <p class="case-content-text">埼玉県</p> 
        <p class="case-content-btn"><a href="#">>>詳細を見る</a></p>
      </div>
      <div class="case-content-right">
        <p class="case-content-img">
          <img src="assets/building2.png" alt="スカイビル" srcset="">
        </p>
        <h3 class="case-content-title">スカイビル</h3>
        <p class="case-content-text">東京都</p>
        <p class="case-content-btn"><a href="#">>>詳細を見る</a></p>
      </div>
    </div>
    <p class="case-lists"><a href="">施工実績一覧</a></p>
  </div>
<!-- links -->
  <div class="links">
    <a href="" class="link-img"><img src="assets/company.png" alt="企業理念" srcset="" /></a>
    <a href="" class="link-img"><img src="assets/recruit.png" alt="採用情報" srcset="" /></a>
    <a href="" class="link-img"><img src="assets/contact.png" alt="お問い合わせ" srcset="" /></a>
  </div>
<!-- footer -->
  <footer class="footer">
    <div class="footer-content">
      <p class="copy">© 2021 sample.inc</p>
    </div>
  </footer>
</div>